<div class="container p-3">
  <!-- <div class="flex-row justify-content-center">
    <div class="col-md-12"> -->
      <form
        [formGroup]="voteForm"
        (ngSubmit)="onSubmit()">
        <div formArrayName="votes" class="example-list" cdkDropList (cdkDropListDropped)="drop($event)">
          <div
            *ngFor="let songForm of songControls; let i=index"
            [formGroupName]="i">
            <div
              [ngClass]="'example-box input-group m-1 '"
              cdkDrag>
              <div class="col-xs-1">
                <input
                type="number"
                style="width: 50px;"
                formControlName="vote"
                class="form-control handler"
                readonly
                z>
              </div>
              <div class="example-box input-group-append rounded-left">
                <button class="btn btn-outline-secondary text-dark rounded-left" disabled>
                  <span [ngClass]="' flag-icon flag-icon-'+ getSongDetails(i).countryFlag"></span>
                  <span class="name text-center text-info">  {{ getSongDetails(i).countryName }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <button
          class="btn btn-dark m-3"
          [disabled]="voteForm.invalid">Vote
        </button>
        <span
          class="pull-left"
          *ngIf="isLoading"
          style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </span>
      </form>
      <!-- <form
        [formGroup]="votingForm"
        (ngSubmit)="onSubmit()">
        <div
          *ngFor="let songForm of songControls; let i = index"
          [formGroupName]="i">
          <button type="button" class="btn btn-outline-secondary text-dark" disabled>
            <span [ngClass]="' flag-icon flag-icon-'+ getSongDetails(i).countryFlag"></span>
          </button>
        </div>
        <div class="input-group offset-n3">
          <div class="input-group-prepend">
            <button
              class="btn btn-outline-success m-3"
              [disabled]="votingForm.invalid">Vote
            </button>
          </div>
          <input
                type="number"
                formControlName="vote"
                class="form-control"
                min="1"
                max="26">
        </div>
      </form> -->
    <!-- </div>
  </div> -->
</div>
