<div class="vote-container">
  <form [formGroup]="voteForm" (ngSubmit)="onSubmit()">
    <div formArrayName="votes" class="drag-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div
        *ngFor="let songForm of songControls; let i=index"
        [formGroupName]="i">
        <div class="drag-item" cdkDrag>
          <input
            type="number"
            formControlName="vote"
            class="rank-badge"
            readonly>
          <span [ngClass]="'flag-icon flag-icon-' + getSongDetails(i).countryFlag + ' flag'"></span>
          <span [ngClass]="setClass(i) + ' country-name'">{{ getSongDetails(i).countryName }}</span>
          <span class="drag-handle">&#8942;</span>
        </div>
        <div class="qualline" *ngIf="i === 9 && !isFinal"></div>
      </div>
    </div>

    <div class="vote-footer">
      <button class="btn btn-vote" type="submit" [disabled]="voteForm.invalid || isLoading">
        {{ hasVoted ? 'Update' : 'Vote' }}
      </button>
      <button *ngIf="hasVoted" class="btn btn-cancel" type="button" (click)="onCancel()">
        Cancel
      </button>
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    </div>
  </form>
</div>
