.container {
  border: black solid 5px;
  background-image: url("../../assets/black.jpg");
  margin: 0;
  position: absolute;
  top: 80%;
  left: 10%;
  width: 80%;
  -ms-transform: translateY(-80%);
  transform: translateY(-80%);
  //width: fit-content;
}

img {
  max-width: 95%;
  max-height: 70%;
  margin: 0;
  position: absolute;
  top: 10%;
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  background-color: rgba(80, 80, 80, 0.5);
}
