
  <a
    class="slika"
    routerLink="/result"
    routerLinkActive="active">
    <img src="../../assets/euro.png">
  </a>
<div class="container">
  <div class="row justify-content-around py-3 pb-2">
    <div class="col-md-2 mb-1">
      <button
        class="btn btn-outline-info"
        (click)="setLogin('johnny')">
        Johnny
      </button>
    </div>
    <div class="col-md-2 mb-1">
      <button
        class="btn btn-outline-info"
        (click)="setLogin('juco')">
        Jučo
      </button>
    </div>
    <div class="col-md-2 mb-1">
      <button
        class="btn btn-outline-info"
        (click)="setLogin('nika')">
        Nika
      </button>
    </div>
    <div class="col-md-2 mb-1">
      <button
        class="btn btn-outline-info"
        (click)="setLogin('matija')">
        Matija
      </button>
    </div>
    <div class="col-md-2 mb-1">
      <button
        class="btn btn-outline-info"
        (click)="setLogin('marko')">
        Marko
      </button>
    </div>
    <div class="col-md-2 mb-1">
      <button
        class="btn btn-outline-info"
        (click)="setLogin('teco')">
        Tečo
      </button>
    </div>
  </div>
</div>
