.container {
  border: black solid 5px;
  background-image: url("../../assets/black.jpg");
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
