
  <a
    class="slika"
    routerLink="/result"
    routerLinkActive="active">
    <img src="../../assets/eurovision-2025-logo.jpg">
  </a>
<div class="container">
  <div class="row justify-content-around py-2">
    <div 
      class="col-2 my-3 mx-3"
      *ngFor="let user of users; let i=index">
      <button
        class="btn"
        (click)="setLogin(user)">
        {{user}}
      </button>
    </div>
  </div>
  <div class="text-center pb-3">
    <a routerLink="/admin" class="text-muted small">⚙ Admin</a>
  </div>
</div>
