/* You can add global styles to this file, and also import other style files */

body {
  background-image: url(assets/esc2025.png);
  background-size: 100vw 100vh;
}

@media (max-width: 1000px) {
  body {
    background-image: url(assets/esc2025vert.png);
    background-size: 100vw 100vh;
  }
}