table {
  border: solid black 5px;
  table-layout: fixed;
  width: 40%;
  margin-left: 35%;
}

th {
  word-wrap: break-word;
}

.btn {
  border: solid black 5px;
  border-radius: 3;
  color: black;
  font-weight: bold;
}

td {
  color: rgb(109, 109, 109);
}
