table {
  border: solid black 5px;
  table-layout: fixed;
}

.res {
  width: 40%;
  margin-left: 35%;
}

.fullres {
  width: 100%;
  margin-left: 5%;
}

th {
  word-wrap: break-word;
}

.btn {
  border: solid black 5px;
  border-radius: 3;
  color: black;
  font-weight: bold;
}

td {
  color: black;
  font-weight: bolder;
}
